
@{
    ViewBag.Title = "Direct Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h6 class="font-weight-bold text-center grey-text text-uppercase small mb-2 mt-3" style="font-size:1.5vw">Performance Review</h6>
<h3 class="font-weight-bold text-center  pb-2" style="font-size:3.5vw">Direct Reports</h3>

<table class="table">
    <tr>
        <th>
            
        </th>
        <th>
            Employee #
        </th>

        <th>
            Name
        </th>

        <th>
            Job Position 
        </th>
        <th>
            Objectives Status
        </th>
    </tr>

    @foreach (var item in ViewBag.Directos)
    {
        string estado = "";
        string estadoc = "";
        estadoc = item.estatus;
        switch (estadoc)
        {
            case "PE":
                estado = "Creating Objectives";
                break;

            case "EN":
                estado = "Waiting For Approval";
                break;

            case "AP":
                estado = "Approve";
                break;

            case "RI":
                estado = "First Review";
                break;

            case "RF":
                estado = "Second Review";
                break;

            default:
                estado = "No Objectives";
                break;
        }

        <tr class="my-auto">
            <td align="center">
               <img src="@Html.Raw("data:image/png;base64," + Convert.ToBase64String(item.foto))"  class="img-fluid rounded-circle" style="height:4vw"/>
            </td>
           
            <td>
               @item.empleado
            </td>

            <td>
                @item.nombre
            </td>

            <td>
                @item.puesto
            </td>

            <td>
                @if(item.axo == 0)
                {
                    <span>No Objectives</span>
                }
                else
                {
                    <span>@estado</span> <span class="badge badge-primary">@item.axo</span>
                    <a href="@Url.Action("Approval", "t_objetidet", new {empleado = item.empleado, axo = item.axo, ismanager = true })"><i class="fas fa-search"></i></a>
                }
            </td>
        </tr>
    }

</table>


<div>
    @Html.ActionLink("Back", "MenuModule1", "t_objetivos", null, null)
</div>