@model IEnumerable<HR_System.Models.t_objetivos>

@{
    ViewBag.Title = "Direct Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h6 class="font-weight-bold text-center grey-text text-uppercase small mb-2 mt-3" style="font-size:1.5vw">Performance Review</h6>
<h3 class="font-weight-bold text-center  pb-2" style="font-size:3.5vw">Direct Reports</h3>

<table class="table">
    <tr>
       
        <th>
            Employee #
        </th>

        <th>
            Name
        </th>

        <th>
            
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.t_empleados.empleado)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.t_empleados.nombre)
            </td>

            <td>
                
            </td>

            <td>
                @Html.ActionLink("Objectives", "Approval","t_objetidet",new { empleado = item.empleado, axo = item.axo, ismanager = true },null) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back", "MenuModule1", "t_objetivos", null, null)
</div>