@model IEnumerable<HR_System.Models.t_objetivos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.axo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aprobado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f_aprobado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.revision1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nota_r1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f_r1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.revision2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nota_r2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f_r2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.calificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f_enviado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_empleados.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_plantas.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.axo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aprobado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.f_aprobado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.revision1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nota_r1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.f_r1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.revision2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nota_r2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.f_r2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.calificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.f_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.f_enviado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_empleados.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_plantas.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
