@model HR_System.Models.t_objetidet

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{
    
<link href="~/css/Toasts.css" rel="stylesheet" />
    }

<div id="snackbar">
    Verify that you have at least 3 objectives and that the sum of all objectives weights are exactly 100
</div>


<h6 class="font-weight-bold text-center grey-text text-uppercase small mb-2 mt-3" style="font-size:1.5vw">MODULE 1</h6>
<h3 class="font-weight-bold text-center  pb-2" style="font-size:3.5vw">My Objectives @ViewBag.Objective.axo</h3>

<div class="row">
    <div class="col-md-12 m-0 p-0">

        <!-- Stepers Wrapper -->
        <ul class="stepper stepper-horizontal m-0 p-0">

            <!-- First Step -->
            <li class="@(ViewBag.Objective.estatus == "PE"? "completed" : "warning")">
                <a href="#!">
                    <span class="circle">1</span>
                    <span class="label">Creation</span>
                </a>
            </li>

            <!-- Second Step -->
            <li class="@(ViewBag.Objective.estatus == "EN" ||ViewBag.Objective.estatus == "AP" ? "completed" : "warning")">
                <a href="#!">
                    <span class="circle">2</span>
                    <span class="label">Approval</span>
                </a>
            </li>

            <li class="@(ViewBag.Objective.estatus == "RI"? "completed" : "warning")">
                <a href="#!">
                    <span class="circle">3</span>
                    <span class="label">1st Revision</span>
                </a>
            </li>

            <li class="@(ViewBag.Objective.estatus == "RF"? "completed" : "warning")">
                <a href="#!">
                    <span class="circle">4</span>
                    <span class="label">2nd Revision</span>
                </a>
            </li>

            <li class="@(ViewBag.Objective.estatus == "CA"? "completed" : "warning")">
                <a href="#!">
                    <span class="circle">5</span>
                    <span class="label">Results</span>
                </a>
            </li>

        </ul>
        <!-- /.Stepers Wrapper -->

    </div>
</div>
<hr />
<div class="row">

    <hr />
    <div class="col-12">


        <div class="row">
            <div class="col-4">
                <label class="font-weight-bold">Employee #: </label>
                <label>@ViewBag.Objective.empleado</label>
            </div>
            <div class="col-4">
                <label class="font-weight-bold">Name: </label>
                <label>@ViewBag.Objective.t_empleados.nombre</label>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label class="font-weight-bold">Department: </label>
                <label>(Departamento de Tress)</label>
            </div>
            <div class="col-4">
                <label class="font-weight-bold">Manager: </label>
                <label>@ViewBag.Manager</label>
            </div>
            <div class="col-4">
                <label class="font-weight-bold">2nd Level Manager: </label>
                <label>@ViewBag.Manager2</label>
            </div>
        </div>
        <hr />
        <div class="row">
            @if(ViewBag.Rechazado == "1")
            {
                <div class="col-12">
                    <p> <span style="font-size:15px" class="badge badge-danger badge-pill">Your objectives were rejected</span><span class="ml-2 font-weight-bold">Note: </span>@ViewBag.Objective.n_aprobado </p>
                </div>
            }
            <div class="col-9">
                <button type="button" class="btn btn-success rounded-pill" data-toggle="modal" data-target="#AddObjModal" @(ViewBag.ObjectivesQty == 5 ? "hidden" : "")>
                    Add Objetive
                </button>
                @if (ViewBag.ObjectivesQty > 2 && ViewBag.TotalWeight == 100)
                {
                    <button type="button" class="btn btn-primary rounded-pill" data-toggle="modal" data-target="#SendObjModal">
                        Send objectives for manager approval
                    </button>
                }
                else
                {
                    <button type="button" class="btn btn-primary rounded-pill" onclick="myFunction()" >
                        Send objectives for manager approval
                    </button>
                }
               
            </div>
            <div class="col-3 text-right">
                <label class="font-weight-bold">Total Weight: </label>
                <label class="@(ViewBag.TotalWeight == 100 ? "text-success" : "text-danger")">@ViewBag.TotalWeight</label>
            </div>
        </div>
        <div class="row">
            @foreach (var item in ViewBag.ObjectivesDet)
            {
                string numitem = Convert.ToString(item.consec);
                <div class="col-4 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-9">
                                    <div class="badge primary-color pt-1 m-0 text-center" style="border-radius: 50%; height: 25px; width:25px;font-size:17px">@item.consec</div> @item.objetivo
                                </div>
                                <div class="col-3 text-right ml-0">
                                    <a class="fas fa-trash-alt danger-ic mr-1" href="@Url.Action("DeleteObjective","t_objetidet",new {empleado = item.empleado, axo = item.axo, consec = item.consec })"></a>
                                    <a class="fas fa-edit" data-toggle="modal" data-target="@Html.Raw("#" + "AddObjModal" + numitem)"></a>
                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            Description
                                        </dt>

                                        <dd>
                                            @item.descrip
                                        </dd>

                                    </dl>
                                </div>
                                <div class="col-6">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            Metric
                                        </dt>

                                        <dd>
                                            @item.t_metricos.descrip
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-6">
                                    <dl class="dl-horizontal">
                                       
                                        <dt>
                                            Weight
                                        </dt>

                                        <dd>
                                            @item.peso
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                </div>

                <div class="modal fade" id="@Html.Raw("AddObjModal" + numitem)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        @using (Html.BeginForm("Edit", "t_objetidet", FormMethod.Post))
                        {
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4>Edit objective @item.consec</h4>
                                    <button type="button" class="close mr-0" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="modal-body">

                                            @Html.AntiForgeryToken()

                                            <div class="form-horizontal">

                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                @Html.HiddenFor(model => model.planta, new { @Value = item.planta })
                                                @Html.HiddenFor(model => model.empleado, new { @Value = item.empleado })
                                                @Html.HiddenFor(model => model.axo, new { @Value = item.axo })
                                                @Html.HiddenFor(model => model.consec, new { @Value = item.consec})


                                                <div class="form-group">
                                                    <div class="md-form md-outline ">
                                                        @Html.EditorFor(model => model.objetivo, new { htmlAttributes = new { @class = "form-control", @maxlenght = "100", @Value = item.objetivo } })
                                                        <label for="objetivo">Title</label>
                                                    </div>

                                                </div>

                                                <div class="form-group">
                                                    <div class="md-form md-outline">
                                                        <textarea id="descrip" name="descrip" class="md-textarea form-control" rows="3">@item.descrip</textarea>
                                                        <label for="descrip">Description</label>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label for="peso" class="text-muted">Weight: <span class="outputpesoe" style="color:black">@item.peso</span><span style="color:black">%</span></label>
                                                        <input type="range" class="custom-range inputpesoe" min="0" max="100"  name="peso" value= @item.peso>
                                                    </div>
                                                </div>

                                                <div class="form-group">

                                                    <div class="col-md-12">
                                                        <label for="metrico" class="text-muted">Metric : </label>
                                                        @Html.DropDownList("metrico", null, htmlAttributes: new { @class = "form-control", @Value = item.t_metricos.descrip })
                                                        @Html.ValidationMessageFor(model => model.metrico, "", new { @class = "text-danger"})
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <input type="submit" value="Update" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                    </div>
                </div>

            }

        </div>
    </div>
</div>

<div class="modal fade" id="SendObjModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4>Warning</h4>
                                    <button type="button" class="close mr-0" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="modal-body">
                                            Are you sure you want to send your objectives?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <a href="@Url.Action("SendToFirstApproval","t_objetivos",new {empleado = ViewBag.Objective.empleado, ViewBag.Objective.axo })" class="btn btn-primary" role="button" )>Send</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                    </div>
                </div>

<div class="modal fade" id="AddObjModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm())
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Objective @ViewBag.NextObjective</h4>
                    <button type="button" class="close mr-0" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="modal-body">

                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.planta, new { @Value = ViewBag.Objective.planta })
                                @Html.HiddenFor(model => model.empleado, new { @Value = ViewBag.Objective.empleado })
                                @Html.HiddenFor(model => model.axo, new { @Value = ViewBag.Objective.axo })
                                @Html.HiddenFor(model => model.consec, new { @Value = ViewBag.NextObjective })


                                <div class="form-group">
                                    <div class="md-form md-outline ">
                                        @Html.EditorFor(model => model.objetivo, new { htmlAttributes = new { @class = "form-control", @maxlenght = "100" } })
                                        <label for="objetivo">Title</label>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <div class="md-form md-outline">
                                        <textarea id="descrip" name="descrip" class="md-textarea form-control" rows="3"></textarea>
                                        <label for="descrip">Description</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label for="peso" class="text-muted">Weight: <span id="outputpesoc" style="color:black"></span><span style="color:black">%</span></label>
                                        <input type="range" class="custom-range inputpeso" min="0" max="100" id="pesoc" name="peso">
                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="col-md-12">
                                        <label for="metrico" class="text-muted">Metric : </label>
                                        @Html.DropDownList("metrico", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.metrico, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
</div>



<div>
    @Html.ActionLink("Back to List", "MenuModule1",  "t_objetivos",null,null)
</div>

@section scripts{
    <script>
        function myFunction() {
            // Get the snackbar DIV
            var x = document.getElementById("snackbar");

            // Add the "show" class to DIV
            x.className = "show";

            // After 3 seconds, remove the show class from DIV
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 10000);
        }
    </script>

    <script>
        var slider = document.getElementById("pesoc");
        var output = document.getElementById("outputpesoc");
output.innerHTML = slider.value;
slider.oninput = function () {
    output.innerHTML = this.value;
}         
    </script>

<script>
    $(".inputpesoe").on('input', function () {
        $(".outputpesoe").html(this.value);
    });

</script>

}