@model HR_System.Models.t_config_m4

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{
<link href="~/css/Toasts.css" rel="stylesheet" />
    <style>
        .checkbox-lg .custom-control-label::before, 
.checkbox-lg .custom-control-label::after {
  top: .8rem;
  width: 1.55rem;
  height: 1.55rem;
}

.checkbox-lg .custom-control-label {
  padding-top: 6px;
  padding-left: 6px;
}

    </style>
    }

<div id="snackbar">
    Done! Your changes have been made
</div>


<h6 class="font-weight-bold text-center grey-text text-uppercase small mb-2 mt-3" style="font-size:1.5vw">Annual Merit Salary Planning</h6>
<h3 class="font-weight-bold text-center  pb-2" style="font-size:3.5vw">Configurations </h3>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        @Html.HiddenFor(model => model.clave)
        <div class="col-4">
            <h4>Dates For Merit Planning</h4>
            from
            @Html.EditorFor(model => model.f_inicio, new { htmlAttributes = new { @class = "form-control datepicker" } })
            to
            @Html.EditorFor(model => model.f_final, new { htmlAttributes = new { @class = "form-control datepicker " } })

        </div>
        <div class="col-4">
            <h4>Max Market Mid CD Allowed</h4>
            @Html.EditorFor(model => model.cap_mrp, new { htmlAttributes = new { @class = "form-control",@type = "number"} })
        </div>
        <div class="col-4">
            <div class="custom-control custom-checkbox checkbox-lg">
                <input  type="checkbox" class="custom-control-input mt-3" name="alert" value="true" id="defaultUnchecked" checked>
                <label  style="font-size:24px" class="custom-control-label" for="defaultUnchecked">Alerts</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-12">
                <input type="submit" value="Save" class="btn btn-default  rounded-pill" />
            </div>
        </div>

    </div>
    
  
}


@section scripts{
    <script>
        $('.datepicker').datetimepicker({
            timepicker: true,
            format: 'Y-m-d'
        });
</script>
    <script>

        var alert = @ViewBag.Alert;

        if (alert == "1")
        {
            alert1();
        }


        function alert1() {
            // Get the snackbar DIV
            var x = document.getElementById("snackbar");

            // Add the "show" class to DIV
            x.className = "show";

            // After 3 seconds, remove the show class from DIV
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 10000);
        };

</script>
    }