@model HR_System.Models.t_empleados

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>t_empleados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_plantas.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_plantas.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_usuarios.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_usuarios.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_empleados2.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_empleados2.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.empleado }) |
    @Html.ActionLink("Back to List", "Index")
</p>
