
@{
    ViewBag.Title = "MeritProcess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{
<link href="~/css/Toasts.css" rel="stylesheet" />

    <style>
        .selectButton {
            left: 70%;
            top: 90%;
            transform: translate(-50%, -50%);
            z-index: 2;
            transition: all ease 0.35s;
            width: 35px;
            height: 35px;
            overflow: hidden;
        }
    </style>
}

<div id="snackbar">
    You dont have enough budget! Ajust merit recommendation
</div>

<div id="snackbar2">
    Merit Recommendation out of range, please justify in commments section
</div>
<h6 class="font-weight-bold text-center grey-text text-uppercase small mb-2 mt-3" style="font-size:1.5vw">Annual Merit Salary Plannnig</h6>
<h3 class="font-weight-bold text-center  pb-1" style="font-size:3.5vw">Merit Process</h3>

<div class="row">
    <div class="col-2"></div>
    <a class="col-8 rounded-pill text-center p-0 hoverable" style="background-color:#f2f2f2" data-toggle="collapse" href="#EmployeeInfo" aria-expanded="false" aria-controls="EmployeeInfo">
        <h4 class="mb-0" style="font-size:18px">EMPLOYEE INFO</h4>
    </a>
    <div class="col-2"></div>
</div>

<div class="row mt-4" id="EmployeeInfo">
    <div class="col-2 my-auto">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <img src="@Html.Raw("data:image/png;base64," + Convert.ToBase64String(ViewBag.direct.foto))" class="img-fluid rounded-circle" style="height:100px" />
            <div class="@Html.Raw(ViewBag.colorcal) p-0 position-absolute rounded-pill d-flex justify-content-center selectButton align-items-md-center">
                <span class="infoText white-text" style="font-size:18px">@Html.Raw(ViewBag.iconocal)</span>
            </div>
        </div>
        <div class="col-12 mt-2 mb-0 text-center" style="font-size:13px">
            @ViewBag.merit.t_califica.descrip
        </div>

    </div>
    <div class="col-3 mt-3 my-auto">
        <h5 class="font-weight-bold"> Employee #</h5>
        <p style="font-size:18px"> @ViewBag.direct.empleado</p>
        <h5 class="font-weight-bold"> Name</h5>
        <p style="font-size:18px"> @ViewBag.direct.nombre</p>
    </div>
    <div class="col-3 mt-3 my-auto">
        <h5 class="font-weight-bold"> Department</h5>
        <p style="font-size:18px"> @ViewBag.direct.depto</p>
        <h5 class="font-weight-bold"> Job Position</h5>
        <p style="font-size:18px"> @ViewBag.direct.puesto</p>
    </div>
    <div class="col-3 mt-3 my-auto">
        <h5 class="font-weight-bold"> Manager</h5>
        <p style="font-size:18px"> @ViewBag.direct.manager1</p>
        <h5 class="font-weight-bold"> 2nd Level Manager</h5>
        <p style="font-size:18px"> @ViewBag.direct.manager2</p>
    </div>
    <div class="col-1 mt-3 my-auto text-center ">
        @if (ViewBag.merit.ind_elegible == "1")
        {
            <i class="fas fa-check success-ic" style="font-size:30px"></i>
            <p style="font-size:12px">Elegible</p>
        }
        else
        {
            <i class="fas fa-times danger-ic" style="font-size:30px"></i>
            <p style="font-size:12px">Not Elegible</p>
        }
       
    </div>
</div>

<hr />

<div class="row">
    <div class="col-2"></div>
    <a href="#" id="colmerit" class="col-8 rounded-pill text-center p-0 hoverable" style="background-color:#f2f2f2">
        <h4 class="mb-0" style="font-size:18px">MERIT PLAN</h4>
    </a>
</div>

@using (Html.BeginForm("Approve", "t_meridet", FormMethod.Post))
{
    <div class="col-12 text-center">
            Merit Guideline: @ViewBag.meritg1 % - @ViewBag.meritg2 %
    </div>
    <input name="empleado" value="@ViewBag.merit.empleado" hidden />
<div class="mt-3" id="MeritPlan">
    <div class="row">
        <div class="col-2 my-auto  d-flex justify-content-center align-items-center">
            <canvas id="ChartProgresso" height="120" width="120"></canvas>
        </div>

        <div class="col-3 my-auto">
            <h5 class="font-weight-bold"> Annual Base Salary</h5>
            <p style="font-size:18px"> $ @ViewBag.merit.salario_axo</p>
            <h5 class="font-weight-bold"> Budget Amount</h5>
            <p style="font-size:18px"> $ @ViewBag.bamount</p>
        </div>

        <div class="col-3 rounded my-auto">
            <h5 class="font-weight-bold"> Merit Recommendation</h5>
            <div class="row">
                <div class="col-1 my-auto text-right" style="font-size:18px">
                    $
                </div>
                <div class="col-5 pl-0 ml-0">
                    <input type="number" name="merit" class="form-control" style="font-size:18px" id="merit" placeholder="0.00" min="0" max="@ViewBag.meritmax">
                </div>
                <div id="meritcolor" class="col-5 my-auto" style="font-size:18px">
                    <span id="meritper">0.00</span>%
                </div>
            </div>
            <h5 class="font-weight-bold"> Lump Sum</h5>
            <div class="row">
                <div class="col-1 my-auto text-right" style="font-size:18px">
                    $
                </div>
                <div class="col-5 pl-0 ml-0">
                    <input type="number" name="lump" class="form-control" style="font-size:18px" id="lump"  placeholder="0.00" readonly>
                </div>
                <div class="col-5 my-auto" style="font-size:18px">
                    <span id="lumpper">0.00</span>%
                </div>
            </div>
        </div>

        <div class="col-3 my-auto">
            <h5 class="font-weight-bold"> New Annual Base Salary</h5>
            <p style="font-size:18px"> $ <span id="newsalary">@ViewBag.merit.salario_axo</span></p>
            <h5 class="font-weight-bold"> Market Mid CR% After Merit</h5>
            <p id="marketcolor" style="font-size:18px"> <span id="marketmid"></span>%</p>
        </div>

        <div class="col-1 mt-3 my-auto text-center ">
            @if (ViewBag.merit.estatus == "AP")
            {
                <i class="fas fa-check success-ic" style="font-size:30px"></i>
                <p style="font-size:12px">Approved</p>
            }
        </div>

    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
            <h5 class="font-weight-bold"> Comments</h5>
            <textarea class="form-control" id="comments" rows="3" name="comments" maxlength="500"></textarea>
        </div>
        <div class="col-4 my-auto d-flex justify-content-center">
            <input type="submit" id="approve" class="btn btn-success btn-lg rounded-pill" value="Approve" role="button">
        </div>
    </div>
</div>
}



@section scripts{
    <script>

        var i = 0;

        $("#colmerit").click(function () {
            if (i == 0)
            {
                $("#MeritPlan").hide();
                i = 1;
            }
            else
            {
                $("#MeritPlan").show();
                i = 0;
            }

        });

        var salaxo = @ViewBag.merit.salario_axo
        var marketmid = @ViewBag.merit.t_jobcode.mrp;
        var available = @ViewBag.available;
        var spent = @ViewBag.spent;
        var meritg1 = @ViewBag.meritg1;
        var meritg2 = @ViewBag.meritg2;
        var elegible = @ViewBag.merit.ind_elegible;

        var newmarketmid = 0;
        var newavailable = available;
        var newspent = spent;
        var meritperc = 0;
        var meritper = document.getElementById("meritper");
        var newsalary = document.getElementById("newsalary");
        var marketmidas = document.getElementById("marketmid");
        var newmerit = 0;
        var newlump = 0;
        var absalary = @ViewBag.merit.salario_axo;
        var newsalarycur = 0;

        marketmidas.innerHTML = ((salaxo / marketmid) * 100).toFixed(2);
        if (((salaxo / marketmid) * 100) > 120) {
            $("#marketcolor").addClass("text-danger");
            $("#lump").attr("readonly", false);
            marketmidas
        }
        else
        {
            $("#marketcolor").removeClass("text-danger");
            $("#lump").attr("readonly", true);
        }

        $("#merit").on({

            blur: function () {
                newavailable = available - newmerit - newlump;
                newspent = spent + newmerit + newlump;
                promisedDeliveryChart.data.datasets[0].data = [newavailable, newspent];
                promisedDeliveryChart.update();
                if(newavailable < 0)
                {
                    $("#approval").hide();
                    $("#approvalfalso").show();
                }
                else
                {
                    $("#approval").show();
                    $("#approvalfalso").hide();
                }

            },
            input: function(){
                meritperc = (((this.value) / absalary) * 100).toFixed(2);
                if(meritperc > meritg2 || meritperc < meritg1)
                {
                    $("#meritcolor").addClass("text-danger");
                }
                else
                {
                    $("#meritcolor").removeClass("text-danger");
                }
                meritper.innerHTML = meritperc
                newsalarycur = (absalary + absalary * ((this.value) / absalary));
                newmerit = absalary * ((this.value) / absalary);
                newsalary.innerHTML = newsalarycur.toFixed(2);
                marketmidas.innerHTML = ((newsalarycur / marketmid) * 100).toFixed(2);
                if (((newsalarycur / marketmid) * 100) > 120) {
                    $("#marketcolor").addClass("text-danger");
                    $("#lump").attr("readonly", false);
                    marketmidas
                }
                else
                {
                    $("#marketcolor").removeClass("text-danger");
                    $("#lump").attr("readonly", true);
                }
        }

        });

        $("#lump").on({
            blur: function () {
                newavailable = available - newmerit - newlump;
                newspent = spent + newmerit + newlump;
                promisedDeliveryChart.data.datasets[0].data = [newavailable, newspent];
                promisedDeliveryChart.update();

            },
            input: function () {
                newlump = this.value;
               lumpper.innerHTML = (((this.value) / absalary) * 100).toFixed(2);

            }

        });


        var data = {
            labels: [
              "Available",
              "Spent"
            ],
            datasets: [
              {
                  data: [available, spent],
                  backgroundColor: [
                    "#B3DDA8",
                    "#F4F4F4"
                  ],
                  hoverBackgroundColor: [
                    "#B3DDA8",
                    "#F4F4F4"
                  ]
              }]
        };

        var promisedDeliveryChart = new Chart(document.getElementById('ChartProgresso'), {
            type: 'doughnut',
            data: {
                labels: [
              "Available",
              "Spent"
                ],
                datasets: [
                  {
                      data: [available, spent],
                      backgroundColor: [
                        "#B3DDA8",
                        "#F4F4F4"
                      ],
                      hoverBackgroundColor: [
                        "#B3DDA8",
                        "#F4F4F4"
                      ]
                  }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                cutoutPercentage: 80,
                animation: {
                    animationRotate: true,
                    duration: 2000
                },
                legend: {
                    display: false
                },
                plugins: {
                    datalabels: {
                        display: false,
                    }
                }
            },
            plugins: [{
                beforeDraw: function (chart) {
                    var width = chart.chart.width,
                        height = chart.chart.height,
                        ctx = chart.chart.ctx;

                    ctx.restore();
                    var fontSize = (height / 50).toFixed(2);
                    ctx.font = fontSize + "em sans-serif";

                    ctx.textBaseline = "middle";

                    var text = Math.round((newavailable/(newavailable+newspent))*100).toString() + '%' ,
                        textX = Math.round((width - ctx.measureText(text).width) / 2),
                        textY = height / 2;

                    ctx.fillText(text, textX, textY);
                    ctx.save();
                }
            }]
        });

        $("form").submit(function(event){
            if (newavailable < 0){
                alert1();
                event.preventDefault();
            }else
                if(meritperc > meritg2 || meritperc < meritg1 && $('#comments').val() == "" && elegible == "1")
            {
                    alert2();
                    event.preventDefault();
                }
                else
                {
                    return;
                }

        })

        function alert1() {
            // Get the snackbar DIV
            var x = document.getElementById("snackbar");

            // Add the "show" class to DIV
            x.className = "show";

            // After 3 seconds, remove the show class from DIV
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 10000);
        }

        function alert2() {
            // Get the snackbar DIV
            var x = document.getElementById("snackbar2");

            // Add the "show" class to DIV
            x.className = "show";

            // After 3 seconds, remove the show class from DIV
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 10000);
        }
    </script>
}
