<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="~/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="~/css/addons/datatables.min.css" rel="stylesheet">
    <link href="~/css/jquery.datetimepicker.css" rel="stylesheet">
    @RenderSection("style", required: false)
    <style>
        .container-fluid{
            padding-left: 4vw;
            padding-right: 4vw;
        }
    </style>
    
</head>
<body>
   
        <nav class="navbar navbar-expand-lg navbar-dark primary-color-dark">
            <div class="container-fluid">
                <a class="navbar-brand font-weight-bold" href="@Url.Action("Index", "Home", null)"><i class="fas fa-users fa-lg mr-1"></i>Medline HR System</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                        aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link active" href="@Url.Action("Index", "Home", null)">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                Catalogs
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                Reports
                            </a>
                        </li>
                     
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">Configurations</a> 
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="@Url.Action("Edit","t_config_m1", new {id = "01"})">Module 1</a>
                            </div>
                        </li>

                        
                       
                    </ul>
                    <ul class="navbar-nav ml-auto nav-flex-icons">
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="@Url.Action("MyInfo","Home",null)">
                                <i class="fas fa-user"></i>@Session["userAccount"]
                            </a>
                        </li>
                      
                    </ul>
                </div>
            </div>
</nav>
   
    
        <div class="container-fluid" style="background-color:white">
            @RenderBody()


            
            <hr class="mt-4" />
            <footer>
                <p>&copy; @DateTime.Now.Year - Medline HR System</p>
            </footer>
        </div>

    
    <script type="text/javascript" src="~/js/jquery-3.4.0.min.js"></script>    
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/mdb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="~/js/addons/datatables.min.js"></script>
    <script src="~/js/jquery.datetimepicker.js"></script>

    @RenderSection("scripts", required: false)
    
</body>
</html>
