
@{
    ViewBag.Title = "IndexModule4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{
    <style>
        .selectButton {
            left: 47%;
            top: 98%;
            transform: translate(-45%, -50%);
            z-index: 2;
            transition: all ease 0.35s;
            width: 7vw;
            height: 3vw;
            overflow: hidden;
        }
        .foto {
            left: 47%;
            top: -2%;
            transform: translate(-45%, -50%);
            z-index: 2;
            transition: all ease 0.35s;
        }

        .icono {
            left: 90%;
            top: 80%;
            transform: translate(-50%, -50%);
            z-index: 3;
            transition: all ease 0.35s;
            width: 30px;
            height: 30px;
            overflow: hidden;
        }
    </style>
}
<h6 class="font-weight-bold text-center grey-text text-uppercase small mb-2 mt-3" style="font-size:1.5vw">Module 4</h6>
<h3 class="font-weight-bold text-center  pb-2" style="font-size:3.5vw">Annual Merit Salary Plannnig</h3>
<h3 class="text-center  pb-2" style="font-size:2.5vw">@ViewBag.merit.depto</h3>
<div class="row mt-2 my-auto">

    <div class="col-3 my-auto mr-0">
        <canvas id="ChartProgresso"></canvas>
    </div>
    <div class="ml-0 col-6 my-auto">
        <div class="row rounded-pill pl-0 pt-2" style="background-color:#f2f2f2">
            <div class="col-6 mt-3 mb-0 my-auto text-right" style="font-size:1.5vw">
                <label>
                    <span class="font-weight-bold">Total Merit Budget:</span>
                </label>
                <br />
                <label>
                    <span class="font-weight-bold">Spent:</span>
                </label>
                <br />
                <label>
                    <span class="font-weight-bold">Available:</span>
                </label>
            </div>
            <div class="col-4 mt-3 pl-0 mb-0 my-auto text-right" style="font-size:1.5vw">
                <label>
                    <span class="">$ <span>@ViewBag.merit.budget_imp </span> MXN</span>
                </label>
                <br />
                <label>
                    <span class="">$ <span>@ViewBag.merit.budget_spen </span> MXN</span>
                </label>
                <br />
                <label>
                    <span class="">$ <span>@ViewBag.available  </span>  MXN</span>
                </label>
            </div>
            <div class="col-2"></div>
        </div>

    </div>
    <div class="col-1 ml-0 mr-0 p-0"></div>
    <div class="col-2 ml-n4 rounded-pill my-auto" style="background-color:#f2f2f2">
                <div class="row">
                    <div class="col-12 text-center m-0 p-0">
                        <p class="font-weight-bold m-0 p-0" style="font-size:1.2vw">Merit %</p>
                        <h5 class="mt-0 pt-0">@ViewBag.merit.budget_porc %</h5>
                        <p class="font-weight-bold m-0 p-0" style="font-size:1.2vw">Status</p>
                        <h5 class="mt-0 pt-0">@ViewBag.statusmerit</h5>
                    </div>
        </div>
        </div>

</div>

<br />

<h3 class="text-center  pb-2" style="font-size:3.5vw">Direct Reports</h3>
<hr />

<div class="row">
    @foreach (var item in ViewBag.Directos)
    {
        <div class="col-2 mt-5">
            <a href="@Url.Action("MeritProcess", "t_meridet", new {empleado = item.empleado, axo = item.axom4})" class="card hoverable" style="border-radius: 15px;">
                <div class="card-body pr-1 pl-1 pb-1 mt-4">
                    <div class="row">
                        <div class="col-12  text-center">
                            <h6 class="rounded-pill font-weight-bold" style="background-color:#f2f2f2; font-size:18px">@item.nombre</h6>
                            <dl class="dl-horizontal" style="color:black">
                               
                                <dt>
                                    Employe #
                                </dt>

                                <dd>
                                    @item.empleado
                                </dd>
                                <dt>
                                    Job Position
                                </dt>

                                <dd>
                                    @item.puesto
                                </dd>
                                <dt>
                                    Merit Status
                                </dt>

                                <dd>
                                    @item.estatusm4
                                </dd>
                                <dt>
                                    Merit Rec
                                </dt>

                                <dd>
                                    @item.meritrec %
                                </dd>
                            </dl>
                        </div>
                    </div>

                </div>
                <div class="position-absolute foto">
                    <img src="@Html.Raw("data:image/png;base64," + Convert.ToBase64String(item.foto))" class="img-fluid rounded-circle" style="height: 85px" />
                    <div class="@Html.Raw(item.coloriconoresult) p-0 position-absolute rounded-pill d-flex justify-content-center icono align-items-md-center">
                        <span class="infoText white-text" style="font-size:14px">@Html.Raw(item.iconoresult)</span>
                    </div>
                </div>
                
               
            </a>



        </div>



    }

</div>









@section scripts{
    <script>
        var data = {
            labels: [
              "Spent",
              "Available"
            ],
            datasets: [
              {
                  data: [@ViewBag.merit.budget_spen, @ViewBag.available],
                  backgroundColor: [
                    "#de0000",
                    "#00b006"
                  ],
                  hoverBackgroundColor: [
                    "#ad0202",
                    "#018506"
                  ]
              }]
        };

        var promisedDeliveryChart = new Chart(document.getElementById('ChartProgresso'), {
            type: 'doughnut',
            data: data,
            options: {
                responsive: true,
                cutoutPercentage: 80,
                animation: {
                    animationRotate: true,
                    duration: 2000
                },
                legend: {
                    display: false
                },
                plugins: {
                    datalabels: {
                        display: false,
                    }
                }
            },
            plugins: [{
                beforeDraw: function (chart) {
                    var width = chart.chart.width,
                        height = chart.chart.height,
                        ctx = chart.chart.ctx;

                    ctx.restore();
                    var fontSize = (height / 50).toFixed(2);
                    ctx.font = fontSize + "em sans-serif";

                    ctx.textBaseline = "middle";

                    var text = @ViewBag.percent + "%",
                        textX = Math.round((width - ctx.measureText(text).width) / 2),
                        textY = height / 2;

                    ctx.fillText(text, textX, textY);
                    ctx.save();
                }
            }]
        });
    </script>
}