
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-2">Delete</h2>

<div>
    <h4>Are you sure you want to delete the next user?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @ViewBag.details.nombre
        </dd>


        <dt>
            Employee #
        </dt>

        <dd>
            @ViewBag.details.empleado
        </dd>

        <dt>
            User
        </dt>

        <dd>
            @ViewBag.details.usuario
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @ViewBag.details.sextra1
        </dd>

        <dt>
            Department
        </dt>

        <dd>
            @ViewBag.details.depto
        </dd>

        <dt>
            Job Position
        </dt>

        <dd>
            @ViewBag.details.puesto;
        </dd>

        <dt>
            Manager
        </dt>

        <dd>
            @ViewBag.details.manager1
        </dd>

    </dl>
</div>

@using (Html.BeginForm("Delete", "t_usuarios", FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    <input type="text" name="usuario" value="@ViewBag.details.usuario" hidden />
    <button class="btn btn-danger rounded-pill" type="submit">Delete</button>
}



<div class="mt-2">
    <a href="@Url.Action("Index", "t_usuarios",null)"><i class="fas fa-chevron-left"></i>  Back</a>
</div>
