
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-2">Details</h2>

<div>
    <h4>Users</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @ViewBag.details.nombre
        </dd>


        <dt>
            Employee #
        </dt>

        <dd>
            @ViewBag.details.empleado
        </dd>

        <dt>
            User
        </dt>

        <dd>
            @ViewBag.details.usuario
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @ViewBag.details.sextra1
        </dd>

        <dt>
            Department
        </dt>

        <dd>
            @ViewBag.details.depto
        </dd>

        <dt>
           Job Position
        </dt>

        <dd>
            @ViewBag.details.puesto
        </dd>

        <dt>
            Manager
        </dt>

        <dd>
            @ViewBag.details.manager1
        </dd>

    </dl>
</div>
<div class="mt-2">
    <a href="@Url.Action("Index", "t_usuarios",null)"><i class="fas fa-chevron-left"></i>  Back</a>
</div>
